@use "var" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $dark;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-sm{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

